{% extends 'cliantbase.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <h1>{% block title %}振り込み依頼する{% endblock %}</h1>

<form method="POST">
  <table>
    <tr>
      <th><label for="transferDesignatedDate">振り込み実施日</label></th>
      <td><input type="date" id="date" name="date" min="today" required></td>
    </tr>

    <tr>
      <th><label for="transferAmount">振り込み金額</label></th>
      <td><input type="text" name="transferAmount" id="transferAmount" required></td>
    </tr>

    <tr>
      <th><label for="beneficiaryBankCode">金融機関コード</label></th>
      <td>
        <select name="beneficiaryBankCode" id="beneficiaryBankCode" required>
          <option value="0398">0398 アオゾラギンコウ</option>
        </select>
      </td>
    </tr>

    <tr>
      <th><label for="beneficiaryBranchCode">支店コード</label></th>
      <td>
        <select name="beneficiaryBranchCode" id="beneficiaryBranchCode" required>
          <option value="111">111 ホンテン</option>
        </select>
      </td>
    </tr>

    <tr>
      <th><label for="accountTypeCode">口座種別</label></th>
      <td>
        <select name="accountTypeCode" id="accountTypeCode" required>
          <option value="1">普通</option>
        </select>
      </td>
    </tr>

    <tr>
      <th><label for="accountNumber">口座番号</label></th>
      <td>
        <select name="accountNumber" id="accountNumber" required>
          <option value="1234567">1234567</option>
        </select>
      </td>
    </tr>

    <tr>
      <th><label for="beneficiaryName">受取人名</label></th>
      <td>
        <select name="beneficiaryName" id="beneficiaryName" required>
          <option value="ｶ)ｱｵｿﾞﾗｻﾝｷﾞｮｳ">ｶ)ｱｵｿﾞﾗｻﾝｷﾞｮｳ</option>
        </select>
      </td>
    </tr>

  </table>

  <input type="submit" value="振り込み依頼する" id="btn">

  </form>

{% endblock %}