{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

  <h1 class="user__title">{% block title %}マイページ{% endblock %}</h1>
  {% if g.user %}

  <div id="user">
    <h1 class="user__title">{{ postdata['username'] }}さんの情報</h1>

    <section class="user__section">
      <h2 class="user__section__title">予約状況</h2>
      <div class="columns">
        <div class="column">

          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <p class="title is-4">NIPPONIA 楢山集落</p>
                  <p class="subtitle is-6">住所：西会津町新郷大字笹川字上江 1296</p>
                </div>
              </div>
          
              <div class="content">
                体験できる内容
                <ul>
                  <li>農業体験</li>
                  <li>郷土料理作り</li>
                </ul>
              </div>
            </div>
          </div>          
        </div>
        <div class="column">
        </div>
        <div class="column">
        </div>
      </div>
    </section>

    <section class="user__section user__collection">
      <h2 class="user__section__title">訪問した寺院・観音</h2>
      <div class="columns">
        <div class="column">

          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <h3 class="user__section__temple__title">綾金観音堂</h3>
                  <h4>観音様：十一面観世音</h4>    
                </div>
              </div>
              <div class="content">
              </div>
            </div>

            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../../static/imgfile/kannon-01.png" alt="">
              </figure>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <h3 class="user__section__temple__title">高吉観音堂</h3>
                  <h4>観音様：十一面観世音</h4>    
                </div>
              </div>
              <div class="content">
              </div>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../../static/imgfile/kannon-02.png" alt="">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <h3 class="user__section__temple__title">松野観音堂</h3>
                  <h4>観音様：千手観世音</h4>    
                </div>
              </div>
              <div class="content">
              </div>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../../static/imgfile/kannon-03.png" alt="">
              </figure>
            </div>

          </div>

        </div>
        <div class="column">
        </div>
      </div>
    </section>


  </div>
  <style>
    .user__title, .user__section__title{
      font-family: a-otf-ryumin-pr6n, serif !important;
      font-weight: 700;
      font-style: normal;
      margin-top: 2rem;
    }
    .user__section__lodge__title{
      font-family: a-otf-ryumin-pr6n, serif !important;
      font-weight: 700;
      font-style: normal;
    }
    .user__section__temple__title{
      font-family: a-otf-ryumin-pr6n, serif !important;
      font-weight: 700;
      font-style: normal;
    }
    .card-content{
      padding: 1rem;
    }
    .card{
      padding-bottom: 1rem;
    }
  </style>

  <!-- 宿泊施設は単一の登録を前提にする -->

  {% endif %}

{% endblock %}