{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('family.index') }}">家族一覧へ</a>
    <a class="action" href="{{ url_for('family.create_cliant') }}">おばあちゃん登録へ</a>
    <a class="action" href="{{ url_for('top.index') }}">サマリTOPへ</a>
  {% endif %}
{% endblock %}

{% block content %}

<h1>{% block title %}履歴照会{% endblock %}</h1>

{% if g.user %}
  {% for post in postdata %}
    <article class="postdata">
      <div>
        <h2>{{ post['date'] }}</h2>
        <div class="postdetail">振込先： {{ post['beneficiaryName'] }} 金額： {{ post['money']}}</div>

      {% if g.user['id'] == post['author_id'] %}
      <div>
        <a class="action" href="{{ url_for('history.permission', id=post['id']) }}">詳細</a>
      </div>
      {% endif %}
    </article>

  {% if not loop.last %}
    <hr>
  {% endif %}

  {% endfor %}

{% endif %}  
{% endblock %}