{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('family.index') }}">家族一覧へ</a>
    <a class="action" href="{{ url_for('family.create_cliant') }}">おばあちゃん登録へ</a>
    <a class="action" href="{{ url_for('top.index') }}">サマリTOPへ</a>
  {% endif %}
{% endblock %}

{% block content %}

<h1>{% block title %}振込履歴照会{% endblock %}</h1>

{% if g.user %}
  {% for post in postdata %}
    <article class="postdata">
      <table>
        <tr>
          <th><label>{{ post['date'] }}</label></th>
          <th><label>{{ post['beneficiaryName'] }}</label></th>
          <th></label>{{ post['money'] }}円</label></th>

        {% if g.user['id'] == post['author_id'] %}
          <th><a class="action" href="{{ url_for('history.permission', id=post['id']) }}">詳細</a></th>
        {% endif %}
        </tr>
      </table>
    </article>
  {% if not loop.last %}
    
  {% endif %}
  {% endfor %}

{% endif %}  
{% endblock %}