{% extends 'base.html' %}

{% block header %}
<div id="back">
  <h1>{% block title %}リクエスト詳細{% endblock %}</h1>
  <a href="{{ url_for('history.index') }}">戻る</a>
</div>
{% endblock %}

{% block content %}
<table>
  <tr>
    <th><label for="date">年月日 時分</label></th>
    <td><span name="date" id="date">{{ data['date'] }}</span></td>
  </tr>

  <tr>
    <th><label for="money">金額</label></th>
    <td><span name="money" id="money">{{ data['money'] }}円</span></td>
  </tr>

  <tr>
    <th><label for="beneficiaryName">振込先名義</label></th>
    <td><span name="beneficiaryName" id="beneficiaryName">{{ data['beneficiaryName'] }}</span></td>
  </tr>

  <tr>
    <th><label for="applyNo">申請No</label></th>
    <td><span name="applyNo" id="applyNo">{{ data['applyNo'] }}</span></td>
  </tr>

  <tr>
    <th><label for="flag">状態</label></th>
    {% if data['flag'] == 1 %}
      <td><span name="flag" id="flag">受付完了</span></td>
    {% endif %}
    {% if data['flag'] == 2 %}
      <td><span name="flag" id="flag">受付保留中</span></td>
    {% endif %}
    {% if data['flag'] == 8 %}
      <td><span name="flag" id="flag">受付期限切れ</span></td>
    {% endif %}

  {% if data['flag'] == 1 %}
    <form method="post">
    <tr>
      <th><label for="shipname">家族を選択</label></th>
        <td>
          <select name="family" id="family">
          {% for family in postfamily %}
            <option value="{{ family['famname'] }}">{{ family['famname'] }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <th><label for="delete">確認したうえで却下する</label></th>
      <td><input type="submit" value="却下する" onclick="return confirm('本当に却下しますか?');"></td>
    </tr>
  
  {% endif %}

  </table>
{% endblock %}