{% extends 'cliantbase.html' %}

{% block header %}
<h1>{% block title %}おばあちゃん専用ログイン画面{% endblock %}</h1>
{% endblock %}

{% block content %}  
  <form method="post">
    <table>
      <tr>
        <th><label for="cliant_id">登録ID</label></th>
        <td><input name="cliant_id" id="cliant_id" required></td>
      </tr>

      <tr>
        <th><label for="password">パスワード</label></th>
        <td><input type="password" name="password" id="password" required></td>
      </tr>
    </table>

    <input type="submit" value="ログイン" class="sumbitbtn" id="btn">
  </form>
{% endblock %}