<!DOCTYPE html>

<head>

<title>{% block title %}{% endblock %}おばあちゃんAnalytics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

</head>

<nav>
  <h1>おばあちゃん専用振込画面</h1>
  <ul>
    {% if g.user %}
      <li><span>こんにちは。内容をよく見て入力してね。</span></li>
      <li><a href="{{ url_for('auth.cliantlogin') }}">ログアウト</a></li>
      
    {% else %}
      <li><a href="{{ url_for('auth.cliantlogin') }}">ログイン</a></li>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</section>

</html>