{% extends 'base.html' %}

{% block header %}
<div id="back">
  <h1>{% block title %}おばあちゃんを登録する{% endblock %}</h1>
  <a href="/fam/main">戻る</a>
</div>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <th><label for="cliantname">おばあちゃんの名前</label></th>
        <td><input name="cliantname" id="cliantname" value="{{ request.form['cliantname'] }}" required></td>
      </tr>

      <tr>
        <th><label for="ship">続柄</label></th>
        <td><input name="ship" id="ship" value="{{ request.form['ship'] }}" required></td>
      </tr>

      <tr>
        <th><label for="cliant_id">登録ID</label></th>
        <td><input name="cliant_id" id="cliant_id" required></td>
      </tr>

      <tr>
        <th><label for="password">パスワード</label></th>
        <td><input type="password" name="password" id="password" required></td>
      </tr>

      <tr>
        <th><label for="file">写真</label></th>
        <td><input type="file" name="file"></td>
      </tr>
    </table>

    <input type="submit" value="保存" id="btn">

  </form>

  


{% endblock %}