{% extends 'base.html' %}

{% block header %}
<div id="back">
  <h1>{% block title %}家族を登録する{% endblock %}</h1>
  <a href="/fam/main">戻る</a>
</div>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <table id="newfampost">
      <tr>
        <th><label for="ship">家族の続柄</label></th>
        <td><input name="ship" id="ship" value="{{ request.form['ship'] }}" required></td>
      </tr>
      
      <tr>
        <th><label for="famname">家族の名前</label></th>
        <td><input name="famname" id="famname" value="{{ request.form['famname'] }}" required></td>
      </tr>

      <tr>
        <th><label for="addres">連絡先</label></th>
        <td><input name="addres" id="addres" value="{{ request.form['addres'] }}" required></td>
      </tr>

      <tr>
        <th><label for="img">写真</label></th>
        <td><input type="file" name="file"></td>
      </tr>
    </table>

    <input type="submit" value="保存" id="btn">

  </form>

  


{% endblock %}