{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}家族を編集する{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ship">家族の続柄</label>
    <input name="ship" id="ship"
      value="{{ request.form['ship'] or post['ship'] }}" required>

    <label for="famname">家族の名前</label>
    <textarea name="famname" id="famname">{{ request.form['famname'] or post['famname'] }}</textarea>

    <label for="addres">連絡先</label>
    <textarea name="addres" id="addres">{{ request.form['addres'] or post['addres'] }}</textarea>

    <label for="addres">顔の画像</label>
    <div><img src="../../{{ post['filepath'] }}" width="600px" height="500px"></div>


    <input type="submit" value="保存する">
  </form>
  

  <form action="{{ url_for('family.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="削除" onclick="return confirm('ほんとに削除しますか?');">
  </form>

  <a href="/fam/main">戻る</a>
  
{% endblock %}