{% extends 'base.html' %}

{% block header %}
<div id="back">
  <h1>{% block title %}家族を編集する{% endblock %}</h1>
  <a href="/fam/main">戻る</a>
</div>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <th><label for="ship">家族の続柄</label></th>
        <td><input name="ship" id="ship"
          value="{{ request.form['ship'] or post['ship'] }}" required></td>
      </tr>

      <tr>
        <th><label for="famname">家族の名前</label></th>
        <td><input name="famname" id="famname" value="{{ request.form['famname'] or post['famname'] }}" required></td>
      </tr>

      <tr>
        <th><label for="addres">連絡先</label></th>
        <td><input name="addres" id="addres" value="{{ request.form['addres'] or post['addres'] }}" required></td>
      </tr>

      <tr>
        <th><label for="img">写真</label></th>
        <td><img src="../../{{ post['filepath'] }}" width="150px" height="150px"></td>
      </tr>

    </table>

    <input id="btn" type="submit" value="保存する">
  </form>

  <form action="{{ url_for('family.delete', id=post['id']) }}" method="post" class="delete">
    <input class="danger" type="submit" value="削除する" onclick="return confirm('ほんとに削除しますか?');">
  </form>
  
  
{% endblock %}